/* Definições de Tags */
* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
    height: 100%;
}

body {
    background-color: purple;
    display: flex;
    flex-direction: column;
    font-family: 'Teko', sans-serif;
    height: 100%;

}

/* classes utilitarias */

/* classes do projeto */
.headerMain {
    background-color: black;
    color: white;
    padding: 1rem;
}

.headerMain .logo {
    font-size: 2rem;
}

.mainContent {
    flex-grow: 1;
}

.footerMain {
    background-color: black;
    color: white;
    padding: 1rem;
}

